@font-face {
  font-family: 'Nexa Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Nexa Normal'), url('./utils/font/Nexa-XBold.woff') format('woff');
  }

body {
  margin: 0;
  font-family: 'Nexa Normal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: '#0FDBA8';
  margin: 0;
  padding: 0;
  height: '100%'
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
